.skip-links
  %ul.skip-links--list
    %li.skip-links--list-item
      = link_to 'Inhaltsbereich', '#page-main', class: 'skip-links--link'
    %li.skip-links--list-item
      = link_to 'Fußbereich', '#page-footer', class: 'skip-links--link'
