.content
  .left-side-bar
    .progress--bar
      .bar.green{value: @city_with_portals, max: @city_count}
    .select--category
      %select.form-control#category
        %option heal
        %option envi
        %option agri
        %option soci
        %option educ
        %option ener
        %option just
        %option tran
        %option econ
        %option tech
        %option regi
        %option geo
      =button_to 'Anzeigen', '#', {id: "switch-category", class:"button", method: :get}
    =button_to 'Request all categories from Dataportal', '#', {id: "request-categories", class:"button", method: :get}

    = content_tag :div, class: "city-data", data: {cities: @feature_collection, city_values: @city_values} do
      = puts "Passing the City Data to Javascript"
    .details.hide Hello

  .metric--bar
    .metric--item Anzahl
    .metric--item Lesbarkeit
    .metric--item Offene Lizenzen
    .metric--item Offene Formate
    .metric--item Vollständigkeit
    .metric--item Gesamtqualität

  .main--map#mapid


= javascript_include_tag "maps"
