.container
  =simple_form_for @data_portal do |f|
    =f.association :cities
    =f.input :name
    =f.input :url
    =f.input :description
    =f.input :search_param
    =f.input :status
    =f.submit
