%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: "#"} Open Data Monitor

    %ul.nav.navbar-nav
      %li.active
        =link_to "Home", root_path
      %li
        =link_to "Map", maps_index_path
      %li
        =link_to "Data APIs", data_portals_path
      %li
        =button_to "Admin-Login", data_portals_path, {class:"btn btn-default navbar-btn", type: "button", method: :get}
